setuptools==65.5.0 
wheel<0.40.0
gym==0.21.0
gym3==0.3.3
importlib_resources==5.7.1
ray[rllib]
hydra-core==1.3.1
attr
attrs
dm_tree
ipdb
lmdb
matplotlib
opencv_python
pandas
Pillow 
rich
seaborn
tqdm
transformers
tree
wandb
openai